{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "experimentalTernaries": true,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 4,
  "semi": false,
  "importOrder": ["^react", "^@vercel/(.*)$", "^next", "^@supabase", "^@/types", "<THIRD_PARTY_MODULES>", "^lucide-react", "^@/contexts/(.*)$", "^@/lib/(.*)$", "^@/components/ui/(.*)$", "^@/components/(.*)$", "^[./]" ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
