{
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "experimentalTernaries": true,
  "singleQuote": true,
  "useTabs": true,
  "tabWidth": 4,
  "semi": false,
  "importOrder": ["^@/env", "^react$", "^@vercel/(.*)$", "^next", "^@supabase", "^@/types", "^@/database/(.*)$", "^@/store/(.*)$", "^@/lib/(.*)$", "^@/actions", "<THIRD_PARTY_MODULES>", "^lucide-react", "^@/components/ui/(.*)$", "^@/components/(.*)$", "^[./]" ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
